.hero-container
{
    justify-content: space-around;
    align-items: center ;
    padding-bottom: 8rem;
}

.hero-image
{
    box-shadow: 10px 10px red;
}

.hero-text
{
    position: relative;
    z-index: 0;

}
.hero-text-1::before
{
    content: '--Hello';
    font-size: x-large;
    top: 0;
    color: gray;
    position: absolute;
   

}

